In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('C:\\Users\\82107\\Downloads\\restaurants.csv')

In [3]:
df = df.dropna(subset = ['full_address', 'price_range'])    # 가격범위 또는 주소에 결측값이 포함된 행 제거

In [4]:
df['state'] = df.full_address.str.split(',').str[-2].str.strip()    # 주소값에서 주(state) 정보 추출 후 컬럼으로 추가

In [5]:
df['price_num_range'] = df.price_range.str.len()    # $문자를 숫자(1~4로 변환 후 컬럼에 추가)

In [6]:
aaa = df[df['state'].str.contains('DC')].index    # 워싱턴 DC행 인덱스 추출
df = df.drop(aaa)    #워싱턴 DC 행 제거

In [7]:
df.groupby(df['state']).describe()    #(워싱턴DC를 제외한)주별로 묶고 price num range($의 개수)의 평균 구하기

           id                                                         \
        count          mean          std      min       25%      50%
state
AL      949.0    581.036881   313.607739      1.0    315.00    587.0
ID       23.0  16400.565217     7.733199  16388.0  16394.50  16401.0
IL      184.0   5903.777174    60.436656   5801.0   5851.25   5904.5
MD      204.0  22297.299020  1187.208455  18844.0  21797.00  22334.5
MN       39.0   3606.051282    19.657527   3575.0   3589.00   3604.0
OH       15.0   7112.133333    32.834796   7035.0   7103.50   7114.0
OR      708.0  11656.569209   925.853879   9958.0  11245.75  11592.0
VA     5616.0  21494.335826  2354.449399  17439.0  19300.75  21667.0
WA     7270.0  12671.096974  3039.576230   7413.0   9810.25  13121.5
WI     3897.0   3697.542982  1271.579836   1435.0   2622.00   3760.0
WV     1328.0   6715.243223   404.458227   6017.0   6363.75   6717.5
WY      306.0   1274.640523    93.289229   1115.0   1194.25   1274.5

                         position              ...         lng              \
            75%      max    count        mean  ...         75%         max
state                                          ...
AL       854.00   1114.0    949.0   36.414120  ...  -86.588720  -85.327420
ID     16406.50  16413.0     23.0    5.652174  ... -117.000720 -116.979730
IL      5958.25   6004.0    184.0   40.581522  ...  -87.961120  -87.823364
MD     23022.75  25214.0    204.0  130.529412  ...  -77.116357  -76.979072
MN      3623.00   3638.0     39.0   16.641026  ...  -92.099260  -92.067972
OH      7120.50   7165.0     15.0   18.066667  ...  -82.505400  -82.448950
OR     11862.25  17361.0    708.0  128.980226  ... -122.579506 -122.255690
VA     23595.25  25233.0   5616.0   80.451211  ...  -77.136077    0.000000
WA     15345.75  17437.0   7270.0   81.323246  ... -122.170748    0.000000
WI      4804.00   6016.0   3897.0   41.539646  ...  -87.968297    0.000000
WV      7062.50   7412.0   1328.0   16.880271  ...  -79.984964    0.000000
WY      1355.75   1434.0    306.0   10.816993  ... -104.883885 -104.452060

      price_num_range
                count      mean       std  min  25%  50%  75%  max
state
AL              949.0  1.328767  0.483291  1.0  1.0  1.0  2.0  3.0
ID               23.0  1.347826  0.486985  1.0  1.0  1.0  2.0  2.0
IL              184.0  1.233696  0.424335  1.0  1.0  1.0  1.0  2.0
MD              204.0  1.259804  0.482351  1.0  1.0  1.0  1.0  3.0
MN               39.0  1.410256  0.498310  1.0  1.0  1.0  2.0  2.0
OH               15.0  1.666667  0.487950  1.0  1.0  2.0  2.0  2.0
OR              708.0  1.180791  0.395982  1.0  1.0  1.0  1.0  3.0
VA             5616.0  1.236111  0.446400  1.0  1.0  1.0  1.0  4.0
WA             7270.0  1.231774  0.441745  1.0  1.0  1.0  1.0  4.0
WI             3897.0  1.426225  0.499240  1.0  1.0  1.0  2.0  4.0
WV             1328.0  1.455572  0.501226  1.0  1.0  1.0  2.0  3.0
WY              306.0  1.539216  0.499276  1.0  1.0  2.0  2.0  2.0

[12 rows x 56 columns]

In [8]:
stopwords = ['family','american','food','and','&amp;','+','/','whatever','to','fast','friendly','asian','healthy','mexican','meal','breakfast','brunch','comfort','convenience','everyday','essential','chinese','personal','care','home']
state_name = df.groupby(df['state']).describe().index.values    # 주별 인덱스 추출
result = {}

for i in state_name:

    df_ = df[df['state'] == i]
    df_to_list = df_['category'].str.split(',').dropna().to_list()    # ','로 분할 후 결측값 제거하여 리스트로 변환

    category = []    # 소문자로 변환, 공백 제거, 공백으로 분할, 끝에 's' 제거 후 리스트에 추가
    for h in df_to_list:
        for j in h:
            temp = j.lower().strip().split()

            for k in temp:
                if k[-1] == 's':
                    category.append(k[:-1])
                else:
                    category.append(k)
            
    category_counts = {}
    for x in category:    # 딕셔너리로 메뉴 개수 세기
        if x in stopwords:
            continue

        if x in category_counts:
            category_counts[x] += 1
        else:
            category_counts[x] = 1

    if 'sandwiche' in category_counts:    # sandwiche와 sandwich 벨류값 합치기
        category_counts['sandwich'] += category_counts['sandwiche']
        category_counts.pop('sandwiche') 


    dict_category = sorted(category_counts.items(), key=lambda x: x[1], reverse=True)    # 벨류값 내림차순으로 정렬
    
    count = 0
    temp_list = []
    for m in dict_category:
        if(count == 3):
            break
        temp_list.append(m[0])
        count += 1
    
    result[i] = temp_list

In [9]:
print(result)

{'AL': ['sandwich', 'burger', 'wing'], 'ID': ['burger', 'coffee', 'tea'], 'IL': ['sandwich', 'burger', 'pizza'], 'MD': ['sandwich', 'dessert', 'vegetarian'], 'MN': ['sandwich', 'burger', 'pizza'], 'OH': ['italian', 'sandwich', 'burger'], 'OR': ['sandwich', 'burger', 'vegetarian'], 'VA': ['sandwich', 'burger', 'chicken'], 'WA': ['burger', 'sandwich', 'pizza'], 'WI': ['sandwich', 'burger', 'pizza'], 'WV': ['sandwich', 'burger', 'pizza'], 'WY': ['burger', 'sandwich', 'chicken']}

In [10]:
output = pd.DataFrame.from_dict(result)
output

,AL,ID,IL,MD,MN,OH,OR,VA,WA,WI,WV,WY
0,sandwich,burger,sandwich,sandwich,sandwich,italian,sandwich,sandwich,burger,sandwich,sandwich,burger
1,burger,coffee,burger,dessert,burger,sandwich,burger,burger,sandwich,burger,burger,sandwich
2,wing,tea,pizza,vegetarian,pizza,burger,vegetarian,chicken,pizza,pizza,pizza,chicken

In [11]:
output.to_csv("menu_ranking_list.csv", mode='a', header=True)